.transactionTable {
    background-color: #f9f9f9; /* Light grey background color for the entire table */
  }
  
  .ant-table-thead > tr > th {
    background-color: #e0e0e0 !important; /* Light grey background color for the header */
  }
  
  .ant-table-tbody > tr > td {
    background-color: #ffffff !important; /* White background color for the body rows */
  }
  
  .ant-table-tbody > tr:nth-child(even) > td {
    background-color: #f0f0f0 !important; /* Slightly different grey for even rows for zebra striping */
  }
  